@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 18px;
  outline-color: #969696;
  line-height: 1;
}

button {
  cursor: pointer;
}

.wrapper {
  @apply container max-w-6xl mx-auto px-8 py-6;
}

.active {
  @apply block !important;
}

table {
  @apply container mx-auto border-separate border-spacing-y-2.5;
}

table caption {
  @apply text-2xl font-normal text-primary text-start;
}

table thead th {
  @apply text-white fill-white bg-primary;
}

table thead th:first-child {
  @apply w-14 rounded-l-md;
}

table thead th:last-child {
  @apply rounded-r-md;
}

table.active__notes th:last-child,
table.archive__notes th:last-child,
table.summary__notes th:last-child,
table.list__notes th:last-child {
  @apply w-28;
}

table tbody tr {
  @apply bg-secondary;
}

table tbody td,
table tbody td:last-child {
  @apply text-primary;
}

table tbody td:nth-child(2) {
  @apply text-black;
}

table tbody td:last-child div {
  @apply cursor-pointer;
}

table tbody td:last-child div svg {
  @apply w-6 fill-primary transition-all hover:opacity-50;
}

table th,
table td {
  @apply text-start;
}

table th:first-child,
table td:first-child {
  @apply pr-0;
}

table th .tools,
table td .tools {
  @apply flex justify-end gap-3;
}

table th .tools div,
table td .tools div,
table th .tools div svg,
table td .tools div svg {
  @apply w-6 transition-all;
}

table td,
table th {
  @apply h-12 p-2 whitespace-nowrap;
}

.img__title {
  @apply relative mx-auto w-11 h-11 bg-primary rounded-full;
}

.img__title img {
  @apply select-none p-0.5 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.add__note {
  @apply container;
}

.create__note {
  @apply container mx-auto flex items-center h-16;
}

.create__note-btn {
  @apply hidden;
}

.create__note-btn,
.create__note .add__note {
  @apply ml-auto text-white bg-primary rounded-md p-2 transition hover:opacity-70;
}

input,
select {
  @apply container px-2 py-1 border-white;
}

.create__note-form {
  @apply container;
}

.create__note-form-wrapper {
  @apply relative flex items-center justify-center px-4 py-2 gap-3 bg-secondary;
}

.create__note-form-wrapper .create__note-add {
  @apply w-1/2;
}

.create__note-form-wrapper .close {
  @apply absolute cursor-pointer top-0 right-0 translate-x-1/2 -translate-y-1/2 bg-white rounded-full transition-all hover:opacity-70;
}

nav {
  @apply flex items-center justify-center gap-24 pb-5 mb-10 border-solid border-b border-primary;
}
nav a {
  @apply text-primary text-2xl font-medium opacity-80 border-solid border-b border-white py-1 transition-all hover:opacity-100;
}
nav .active {
  @apply opacity-100 border-solid border-b border-primary py-1;
}
